@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@500;700;900&display=swap');

:root {
    /* PRIMARY COLORS */
    --blue-pale: hsl(225, 100%, 94%);
    --blue-bright: hsl(245, 75%, 52%);
    /* NEUTRAL COLORS*/
    --blue-light: hsl(225, 100%, 98%);
    --blue-medium: hsl(224, 23%, 55%);
    --blue-dark: hsl(223, 47%, 23%);
    --white: hsl(0, 0%, 100%);
}

* {
    margin: 0;
    padding: 0;
    font-family: 'Red Hat Display', sans-serif;
}


body {
    min-height: 100vh;
    background-image: url(./images/pattern-background-desktop.svg);
    background-repeat: no-repeat;
    background-color: var(--blue-pale);
    position: relative;
    background-size: contain;
}

.container {
    position: absolute;
    height: 700px;
    max-width: 450px;
    border-radius: 25px;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    background-color: var(--white);
    overflow: hidden;
    box-shadow: 0px 15px 10px #6676bd;
}

.container .info {
    padding: 3.125rem 2.5rem;
    text-align: center;
}


.container .info h2 { 
    color: var(--blue-dark);
    font-weight: 900;
}

.info_description {
    color: var(--blue-medium);
    margin: 1.5625rem;
}

.info_plan {
    display: flex;
    padding: 1.5625rem;
    border-radius: 0.625rem;
    background-color: var(--blue-light);
    justify-content: space-between;
    align-items: center;
}

.info_plan .plan {
    display: flex;
    align-items: center;
    text-align: left;
    gap: 1.25rem;
}

.info_plan .plan h5 {
    font-weight: 900;
    font-size: 1rem;
    color: var(--blue-dark);
}

.info_plan .plan span {
    color: var(--blue-medium);
}


.info_plan a {
    font-weight: 700;
    font-size: 0.875rem;
}

.info_plan a:hover {
    text-decoration: none;
    opacity: 0.7;
}


.container .info .btn_proceed {
    margin-top: 1.875rem;
    display: block;
    background-color: var(--blue-bright);
    color: var(--white);
    border-radius: 0.625rem;
    padding: 0.875rem;
    text-decoration: none;
}

.container .info .btn_proceed:hover {
    opacity: 0.7;
}


.container .info .btn_cancel {
    display: block;
    text-decoration: none;
    color: var(--blue-medium);
    padding-top: 0.875rem;
    font-weight: 700;
}

.container .info .btn_cancel:hover {
    color: var(--blue-dark);
}


.attribution {
    font-size: 0.6875rem;
    text-align: center;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}

@media only screen and (max-width: 475px) {     
    body {
        background-image: url(./images/pattern-background-mobile.svg);
        font-size: 0.875rem;
    }

    .container {
        max-width: 85%;
        min-width: 20.265rem;
        box-shadow: 0px 15px 10px #6676bd;
    }

    .info_plan {
        padding: 0.78125rem;
    }

    .container .info {
        padding: 1.5625rem 1.5625rem 7.55rem 1.5625rem;
    }


}